// Fuentes
$funetePrincipal: Arial,
Helvetica,
Sans-serif;
// Medias
$telefono: 480px;
$tablet: 769px;
$desktop: 1200px;
//colores
$primario: #e50914;
$secundario: #e87c03;
$gris: #323232;
$gris2: #8c8c8c;
$gris3: #454545;
$blanco: #ffff;
$negro: #000;
$radius: 5px;